

.dashboard {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    background-color: var(--theme);
    width: max-content;
    border-radius: 12px;
    padding: 1rem;
    overflow-y: auto; 
    
    
}

.dashboard .maincol, .dashboard .sidecol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .maincol .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 1rem;
}
@media only screen and (max-width: 770px) {
    .dashboard {
        flex-direction: column;
    }
    .dashboard .sidecol {
        order: -1;
    }
}
@media only screen and (max-width: 522px) {
    .dashboard .sidecol {
        justify-content: center;
        align-items: center;
        width: 100%; 
       
    }
    .dashboard .maincol .stats {
        grid-template-columns: 1fr;
        width: 50%;
       
    }
     .dashboard{
        
        flex-grow: 1; 
     overflow-y: auto; 
     height:80vh;
     }
     .dashboard .maincol, .dashboard .sidecol,.dashboard .maincol .stats{
        height:50%
     }
       
    
   
}
